*{
	margin: 0;
	padding: 0;
}
.container{
	width: 320px;
	height: 480px;
	background:url(../images/game_bg.jpg) no-repeat 0 0;
	margin: 50px auto;
	position: relative;
}
.container>h1{
	color: white;
	margin-left: 60px;
}
.container>.progress{
	width: 180px;
	height: 16px;
	background: url(../images/progress.png) no-repeat 0 0 ;
	position: absolute;
	top: 66px;
	left: 63px;
}
.container>.start{
	width: 150px;
	height: 35px;
	border: none;
	background: linear-gradient(#E55C3D,#C50000);
	/* //背景设置为线性渐变 */
	border-radius: 20px;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 320px;
	left: 50%;
	margin-left: -75px;
}
.container>.rules{
	width: 100%;
	height: 20px;
	background-color: #CCCCCC;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	cursor: pointer;
}
.container>.rule{
	background: rgba(0,0,0,0.5);
	width: 320px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 100px;
	box-sizing: border-box;
	text-align: center;
	display: none;
}
.container>.rule>p{
	line-height: 50px;
	color: white;
}
.container>.rule>a{
	color: red;
}
.container>.mask{
	width: 320px;
	height: 480px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 200px;
	box-sizing: border-box;
	text-align: center;
	display: none;
}
.container>.mask>p{
	color: #ff4500;
	font-size: 40px;
	text-shadow: 3px 3px 0 #fff;
}
.container>.mask>button{
	width: 150px;
	height: 35px;
	border: none;
	background: linear-gradient(#74ACCF,#007DDC);
	/* //背景设置为线性渐变 */
	color: white;
	border-radius: 20px;
	font-size: 20px;
	position: absolute;
	top: 320px;
	left: 50%;
	margin-left: -75px;
}